# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.production

# Build folders
**/dist/
**/build/
**/.next/
**/coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Vite
**/.vite/

# TypeScript
**/*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variable examples (keep these)
!**/.env.example